/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

/* traido de proyecto_utn */
.holder {
  max-width: 960px;
  margin: 0 auto;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

header {
  background-color: #dc7703;
  padding: 6px 0;
  width: 100%;
}

header h1 {
  color: white;
  font-size: 48px;
  font-weight: 100;
  font-family: 'ravie';
  font-style: italic;
  display: inline-block;
  position: relative;
  margin-left: 120px; 
  top: 20px;
}

/* inicio footer */
.footer {
  /* background-color: #ccc; */
  background-color: #dc7703;
  clear: both;
  color: #333;
  text-align: center;
  padding: 5px 0;
  margin-top: 20px;
}
/* fin footer */
/* 
inicio nuevo */


.fondo {
  background-image: url("/images/home/logoClothes.png ");
  background-repeat: no-repeat;
  background-color: #314c1b;

  width: 100%;
  height: 100%;
  background-position: center;
}

.usedColors {
  background-color: brown;
  background-color: #dc7703;
  background-color: rgb(165, 42, 2);
  /*esta ok*/

  background-color: #dbcfb2;
  background-color: #314c1b;
}

.fondoBody {
  /* background-image: url("../public/images/home/logoClothes.png");                        */
  background-repeat: repeat-y;
  background-color: #314c1b;
}
.login{
  margin-top: 40px;
  margin-left: 250px;
  display: inline-flex;
  align-items: stretch;
  width: 660px;
  font-family: 'ravie' ;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: space-around; 
  flex-direction: column;

}
.login input{
  margin-left: 30px;
  border: 2px solid #dc7703;
  font-family: 'Times New Roman', Times, serif 
}

.login button{
  width: 25%;
  background:#dc7703;
   margin-left: -20px; 
}

.someText{
  font-family: 'ravie' ;
}

