.footer {
    /* background-color: #ccc; */
    background-color: #dc7703;
    clear: both;
    color: #333;
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
}

.footerDivImg{
    background-color:#dc7703;
}

.footerDivImg2{
    background-color: #314c1b;
}
.footer3 {
    background-color: #b05420;
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    color:#dc7703;
}
.footer4{
    background-color: transparent;
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    color:white; 
    border: 3px solid #ccc;
}
.margin480{
    margin-left: 480px;
}

.margin385{
    margin-left: 385px;
}
