.holder {
    max-width: 960px;
    margin: 0 auto;
}

.carousel-item h5 {
    color: white;
    font-family: wfont_ea7e5d_6a0e3a2821df4187bd07550e513e3375, wf_6a0e3a2821df4187bd07550e5, orig_albra_black;
    font-size: 60px;
    letter-spacing: 0em;
    font-weight: bold;
}

.carousel-item p {
    color: white;
    font-family: wfont_ea7e5d_6a0e3a2821df4187bd07550e513e3375, wf_6a0e3a2821df4187bd07550e5, orig_albra_black;
    font-size: 20px;
    letter-spacing: 0em;
    font-weight: bold;
    color: #dc7703;
}

.fontCarYellow {
    color: #dc7703;
    font-family: wfont_ea7e5d_6a0e3a2821df4187bd07550e513e3375, wf_6a0e3a2821df4187bd07550e5, orig_albra_black;
    font-size: 60px;
    letter-spacing: 0em;
    font-weight: bold;
}

.fontCarBlack {
    color: rgb(6, 6, 5);
    font-weight: bold;
}

/* .carousel-item .h */

.fontCarBlue {
    color: blue;
    font-weight: bold;
}

.fontCarOrange {
    color: orangered;
    font-weight: bold;
}

.fontCarRed {
    color: red;
    font-weight: bold;
}

.contentFirst::before {
    content: "Nuestro equipo de trabajo es fundamental.";
    /* background-color: #6da9ed; */
}

.contentSecond::before {
    content: "Tratamos de brindar un mejor servicio cada dia.";
}

.content3::before {
    content: "Conoce por dentro nuestras instalaciones.";
}

.content4::before {
    content: "Enterate de las ultimas novedades para vos.";
}

/* fin bootstrap */



/* inicio novedades */
div.novedades {
    border: 3px solid grey;
    border-style: groove;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
}

/* fin novedades */

/* 
inicio nuevo */


.fondo {
    background-image: url("../public/images/home/logoClothes.png ");
    background-repeat: no-repeat;
    /*esta ok*/

    background-color: #314c1b;
    width: 100%;
    height: 100%;
    background-position: center;
}

.usedColors {
    background-color: brown;
    background-color: #dc7703;
    background-color: rgb(165, 42, 2);
    /*esta ok*/

    background-color: #dbcfb2;
    background-color: #314c1b;
}

.fondoBody {
    background-repeat: repeat-y;
    background-color: #314c1b;
}



