<div class="login">
    <form action="/admin/login" method="post">
        <div class="mb-3 row">
            <label for="inputUsuario" class="col-sm-2 col-form-label">Usuario</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputUsuario" placeholder="Ingrese su usuario"
                    name="usuario">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword" placeholder="Ingrese su contraseña"
                    name="password">
            </div>
        </div>
        <div class="mb-3 row">
            <button type="submit" class="btn btn-primary">Ingresar</button>
        </div>
    </form>
    {{#if error}}
    <p> Usuario y/o contraseña incorrectos</p>
    {{/if}}
</div>