<h1>Popeye se fue con Olivia</h1>


<div class="someText" >
    <p class="text-center"> Hola {{persona}}
        <a class="btn btn-danger" href="/admin/login/logout">Cerrar sesion
        <i class="fa-solid fa-right-from-bracket"></i></a>
    </p>

</div>