body {
        padding-left: 11em;
        font-family: Georgia, "Times New Roman",
            Times, serif;
        color: purple;
        background-color: #d8da3d;
        


}

  h1 {  font-family: Helvetica, Geneva, Arial,
            SunSans-Regular, sans-serif; }

  h3 {  color: rgb(72, 157, 231);}

  li {  color: aliceblue;}

  .a {  color: rgb(162, 23, 23);}

form { 
        font-family: Arial, Helvetica, sans-serif;
        color: lightslategray;
        background-color: #d8da3d ;
        font-weight: bold;
    }

td {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d0e4f7+0,0a77d5+50,539fe1+79,73b1e7+93,73b1e7+93,87bcea+100 */
        background: rgb(208,228,247); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(208,228,247,1) 0%, rgba(10,119,213,1) 50%, rgba(83,159,225,1) 79%, rgba(115,177,231,1) 93%, rgba(115,177,231,1) 93%, rgba(135,188,234,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(208,228,247,1) 0%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(115,177,231,1) 93%,rgba(115,177,231,1) 93%,rgba(135,188,234,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(208,228,247,1) 0%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(115,177,231,1) 93%,rgba(115,177,231,1) 93%,rgba(135,188,234,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=0 ); /* IE6-9 */
}
.inputOther{
        margin-top: 20px;
        color: rgb(234, 13, 219);
        font-weight: bold;       
}
.marginTop50{
        margin-top: 50px;
}
.estiloShadow{
        box-shadow: 0 0 5px #080000;
}

.estiloBorderRedondeado{
        border-radius: 5px 10px 5px 10px;
}

.columnas2{
        column-count: 2;
        column-gap: 20px;
}
.letraDancingScript{
        font-family: 'Dancing Script', cursive;
        font-size: 15px;
}
.letraLobster{
        font-family: 'Dancing Script', cursive;
        font-family: 'Lobster', cursive;
        font-size: 15px;
        color: green;
}
.letraOxigen{
        font-family: 'Dancing Script', cursive;
        font-family: 'Oxygen', sans-serif;
}
.letraShadowIntoLight{
        font-family: 'Dancing Script', cursive;
        font-family: 'Oxygen', sans-serif;
        font-family: 'Shadows Into Light', cursive;
        color: red;
}

